@font-face {
	font-family: 'Space Mono';
	src: url('./fonts/Space_Mono/SpaceMono-Bold.ttf');
	font-weight: 700;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--clr-primary: hsl(172, 67%, 45%);

	--clr-white: hsl(0, 0%, 100%);

	--clr-cyan-400: hsl(183, 100%, 15%);
	--clr-cyan-300: hsl(186, 14%, 43%);
	--clr-cyan-200: hsl(184, 14%, 56%);
	--clr-cyan-100: hsl(185, 41%, 84%);
	--clr-cyan-50: hsl(189, 41%, 97%);

	--border-radius: 20px;

	font-size: 24px;
	font-weight: 700;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-family: 'Space Mono', monospace;

	margin: 0;
	min-height: 100dvh;

	background-color: var(--clr-cyan-100);
}

main {
	display: flex;
	gap: 1rem;

	padding: 1rem;

	border-radius: var(--border-radius);

	background-color: var(--clr-white);

	min-width: 36rem;
}

/*** Form ***/

form#tip-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;

	width: 100%;
	max-width: 50%;

	font-size: 0.5rem;
}

.frm-bill-amount-container {
	display: flex;
	flex-direction: column;
}

/*** Form --- Radio Buttons ***/

.frm-tip-choice-container {
	display: flex;

	width: 100%;
}

.frm-tip-choice-container > fieldset {
	position: relative;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.6rem;

	padding: 0;
	margin: 0;
	border: none;

	width: 100%;
	height: 100%;
}

.frm-tip-choice-container > fieldset > legend {
	margin-bottom: 0.5rem;
}

.frm-tip-choice-input-container {
	position: relative;
	isolation: isolate;
	display: flex;
	align-items: center;
	justify-content: center;
}

.frm-tip-choice-label {
	padding-block: 0.4rem;

	color: var(--clr-white);
	font-size: 1rem;

	transition: color 0.15s ease-out;
	pointer-events: none;
}

.frm-tip-choice-input {
	position: absolute;
	appearance: none;

	margin: 0;

	width: 100%;
	height: 100%;

	background-color: var(--clr-cyan-400);

	border-radius: 3px;
	z-index: -1;

	transition: background-color 0.15s ease-out;
}

.frm-tip-choice-input-container:hover > .frm-tip-choice-input {
	background-color: var(--clr-primary);
	cursor: pointer;
}

.frm-tip-choice-input-container:hover > .frm-tip-choice-label {
	color: var(--clr-cyan-400);
}

/*** Form --- Other ***/

.frm-people-amount-container {
	display: flex;
	flex-direction: column;
}

/*** Output ***/

.output-container {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 50%;

	padding: 1rem;

	border-radius: calc(var(--border-radius) / 1.5);

	background-color: var(--clr-cyan-400);

	color: var(--clr-white);
}
