@font-face {
	font-family: 'Space Mono';
	src: url('./fonts/Space_Mono/SpaceMono-Bold.ttf');
	font-weight: 700;
}

:root {
	--clr-primary: hsl(172, 67%, 45%);

	--clr-white: hsl(0, 0%, 100%);

	--clr-cyan-400: hsl(183, 100%, 15%);
	--clr-cyan-300: hsl(186, 14%, 43%);
	--clr-cyan-200: hsl(184, 14%, 56%);
	--clr-cyan-100: hsl(185, 41%, 84%);
	--clr-cyan-50: hsl(189, 41%, 97%);

	--border-radius: 20px;

	font-size: 24px;
	font-weight: 700;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-family: 'Space Mono', monospace;

	margin: 0;
	min-height: 100dvh;

	background-color: var(--clr-cyan-100);
}

main {
	display: flex;
	gap: 1rem;

	padding: 1rem;

	border-radius: var(--border-radius);

	background-color: var(--clr-white);

	min-width: 32rem;
}

/*** Form ***/

form#tip-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;

	width: 100%;
	max-width: 50%;

	font-size: 0.5rem;
}

.frm-bill-amount-container {
	display: flex;
	flex-direction: column;
}

.frm-tip-choice-container {
	display: flex;

	width: 100%;
}

.frm-tip-choice-container > fieldset {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	padding: 0;
	margin: 0;
	border: none;

	width: 100%;
}

.frm-tip-choice-input {
	position: relative;
	margin: 0;
	padding: 0;
	display: none;
}

.frm-tip-choice-input::before {
	position: absolute;
	width: 1rem;
	height: 1rem;
	background-color: skyblue;
}

.frm-people-amount-container {
	display: flex;
	flex-direction: column;
}

/*** Output ***/

.output-container {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 50%;

	padding: 1rem;

	border-radius: calc(var(--border-radius) / 1.5);

	background-color: var(--clr-cyan-400);

	color: var(--clr-white);
}
